<div>
    <table cellspacing="0">
        <tr>
            <th>Name</th>
            <th colspan="6">08:00</th>
            <th colspan="6">09:00</th>
            <th colspan="6">10:00</th>
        </tr>
        <tr class="draw" data-user-id="1">
            <th scope="row" class="name">Medewerker 1</th>
            <td data-row="1"></td>
            <td data-row="2"></td>
            <td data-row="3"></td>
            <td data-row="4"></td>
            <td data-row="5"></td>
            <td data-row="6"></td>
            <td data-row="7"></td>
            <td data-row="8"></td>
            <td data-row="9"></td>
            <td data-row="10"></td>
            <td data-row="11"></td>
            <td data-row="12"></td>
            <td data-row="13"></td>
            <td data-row="14"></td>
            <td data-row="15"></td>
            <td data-row="16"></td>
            <td data-row="17"></td>
            <td data-row="18"></td>
        </tr>
        <tr class="draw" data-user-id="2">
            <th scope="row" class="name">Medewerker 2</th>
            <td data-row="1"></td>
            <td data-row="2"></td>
            <td data-row="3"></td>
            <td data-row="4"></td>
            <td data-row="5"></td>
            <td data-row="6"></td>
            <td data-row="7"></td>
            <td data-row="8"></td>
            <td data-row="9"></td>
            <td data-row="10"></td>
            <td data-row="11"></td>
            <td data-row="12"></td>
            <td data-row="13"></td>
            <td data-row="14"></td>
            <td data-row="15"></td>
            <td data-row="16"></td>
            <td data-row="17"></td>
            <td data-row="18"></td>
        </tr>
        </table>
</div>

<script src="~/js/script.js" asp-append-version="true"></script>